---
version: "3.7"

services:
  pihole:
    image: {{ pihole_image }}
    container_name: pihole
    cap_add:
      - NET_ADMIN
    environment:
      TZ: "{{ system_timezone }}"
      FTLCONF_reply_host_IPv4: {{ target_ip }}
      FTLCONF_reply_host_IPv6: {{ ipv6 }}
      FTLCONF_webserver_api_password: {{ pihole_webpassword }}
      FTLCONF_database_maxDBdays: {{ pihole_ftl_max_db_days }}
    volumes:
      - "/home/{{ docker_user_name }}/pihole/pihole/:/etc/pihole/"
      - "/home/{{ docker_user_name }}/pihole/dnsmasq.d/:/etc/dnsmasq.d/"
      - "/home/{{ docker_user_name }}/pihole/backup/:/mnt/backup/"
    network_mode: host
    restart: unless-stopped