http:
  routers:
    unraid:
      entryPoints:
      - http
      service: unraid
      rule: "Host(`{{ inventory_hostname }}.{{ server_url }}`)"
  services:
    unraid:
      loadBalancer:
        servers:
        - url: "http://{{ inventory_hostname }}.{{ server_url }}:8085/"