version: "3.7"
services:
  rtorrent-rutorrent:
    image: crazymax/rtorrent-rutorrent:latest
    container_name: rutorrent
    expose:
      - "${RT_DHT_PORT}/udp"
      - "${XMLRPC_PORT}"
      - "${RUTORRENT_PORT}"
      - "${WEBDAV_PORT}"
      - "${RT_INC_PORT}"
    ports:
      - target: ${RT_DHT_PORT}
        published: ${RT_DHT_PORT}
        protocol: udp
        mode: host
      - target: ${RUTORRENT_PORT}
        published: ${RUTORRENT_PORT}
        protocol: tcp
        mode: host
      - target: ${WEBDAV_PORT}
        published: ${WEBDAV_PORT}
        protocol: tcp
        mode: host
      - target: ${RT_INC_PORT}
        published: ${RT_INC_PORT}
        protocol: tcp
        mode: host
    env_file:
      - rtorrent-rutorrent.env
      - .env
    volumes:
      - "/home/{{ rutorrent_user_name }}/data:/data"
      - "/home/{{ rutorrent_user_name }}/torrents:/downloads"
      - "/home/{{ rutorrent_user_name }}/passwd:/passwd"
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
    sysctls:
      - net.core.somaxconn=4096
    restart: unless-stopped
    stop_grace_period: "120"