smb_username="{{ smb_username }}"
smb_password="{{ smb_password }}"
local_movies_dir="{{ local_movies_dir }}"
local_tv_dir="{{ local_tv_dir }}"
local_mountpoint="{{ local_mountpoint }}"
smb_share="{{ smb_share }}"
remote_movies_dir="$local_mountpoint/movies"
remote_tv_dir="$local_mountpoint/tvshows"
bin_dir="$local_mountpoint/bin"
bin_movies_dir="$bin_dir/movies"
bin_tv_dir="$bin_dir/tv"
bin_tv_notfound_files_dir="$bin_dir/tv_notfound"
rsync_max_speed={{ rsync_max_speed }}