---
version: "3.8"

networks:
  {{ network_name }}:
    external: true

services:
  {{ app_name }}_getshows:
    image: mmuffins/nzbhydra-scheduler
    container_name: {{ app_name }}_getshows
    restart: "no"
    environment:
      - PUID= {{ docker_puid }}
      - PGID={{ docker_pgid }}
      - TZ={{ docker_timezone }}
      - CRON=${NZBSCHEDULE_CRON}
      - LOGLEVEL=${NZBSCHEDULE_LOGLEVEL}
      - SEARCHTERMSFILE=${NZBSCHEDULE_SEARCHTERMSFILE}
      - GROUPSFILE=${NZBSCHEDULE_GROUPSFILE}
      - SHOWSFILE=${NZBSCHEDULE_IMPORTSHOWSFILE}
      - NZBOUTPUTDIRECTORY=${NZBSCHEDULE_NZBOUTPUTDIRECTORY}
      - NZBHYDRAURI=${NZBSCHEDULE_NZBHYDRAURI}
      - NZBHYDRAAPIKEY=${NZBSCHEDULE_NZBHYDRAAPIKEY}
      - MINSIZE=${NZBSCHEDULE_MINSIZE}
      - MAXSIZE=${NZBSCHEDULE_MAXSIZE}
      - MAXAGE=${NZBSCHEDULE_MAXAGE}
      - CATEGORY=${NZBSCHEDULE_CATEGORY}
      - INDEXERS=${NZBSCHEDULE_INDEXERS}
      - REQUESTCOOLDOWN=${NZBSCHEDULE_REQUEST_COOLDOWN}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ docker_settings_directory }}/{{ app_name }}:/config
      - {{ docker_media_data_share }}/usenet/watchdir:/output:rw
    networks:
      - {{ network_name }}
    command: ["./start-getsearchterms.sh"]
    labels:
      - traefik.enable=false
      - traefik.docker.network={{ network_name }}
      - net.unraid.docker.icon=https://github.com/theotherp/nzbhydra2/blob/master/core/ui-src/img/favicon96.png?raw=true