#!/bin/bash

DRIVE_UUID="{{ backup_drive_uuid }}"
MOUNT_POINT="{{ backup_drive_mount_point }}"
SOURCE_DIR="/mnt/user/torrents/wait"
TARGET_DIR="${MOUNT_POINT}/wait"

echo "[$(date)] Starting script"

# Verify the correct drive is mounted at the right place
DEVICE_PATH=$(blkid -U "${DRIVE_UUID}")
if mount | grep "${DEVICE_PATH}" | grep "${MOUNT_POINT}" > /dev/null; then
    echo "[$(date)] Drive with UUID ${DRIVE_UUID} is mounted on ${MOUNT_POINT}"
else
    echo "[$(date)] Error: Drive with UUID ${DRIVE_UUID} is not mounted on ${MOUNT_POINT}. Exiting script."
    exit 1
fi

# Use rsync to synchronize folders
echo "[$(date)] Starting rsync from ${SOURCE_DIR} to ${TARGET_DIR}"
# rsync -avh --delete "${SOURCE_DIR}/" "${TARGET_DIR}/"
rsync -avh "${SOURCE_DIR}/" "${TARGET_DIR}/"

# Unmount the drive
echo "[$(date)] Unmounting drive ${DRIVE_UUID} from ${MOUNT_POINT}"
umount ${MOUNT_POINT}

echo "[$(date)] Finished script"
