---
version: "3.8"

networks:
  {{ network_name }}:
    external: true

services:
  {{ app_name }}:
    image: {{ urbackup_image }}
    container_name: {{ app_name }}
    restart: unless-stopped
    environment:
      - PUID={{ docker_puid }}
      - PGID={{ docker_pgid }}
      - TZ={{ docker_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ docker_settings_directory }}/{{ app_name }}:/config
      - {{ backup_directory }}:/backups
    networks:
      - {{ network_name }}
    # ports:
      # - 55218:80
      # - 55413:55413
      # - 55414:55414
      # - 55415:55415
      # - "35623:35623/udp"
    labels:
      - net.unraid.docker.icon={{ icon_url }}
      - net.unraid.docker.webui=http://{{ app_name }}.{{ domain }}
      
      - traefik.enable=true
      - traefik.docker.network={{ network_name }}
      - traefik.http.routers.{{ app_name }}.rule=Host(`{{ app_name }}.{{ domain }}`)
      - traefik.http.routers.{{ app_name }}.entrypoints={{ traefik_endpoint }}
      - traefik.http.services.{{ app_name }}.loadbalancer.server.port=55414
      
      - traefik.tcp.routers.{{ app_name }}-fastcgi.rule=HostSNI(`*`)
      - traefik.tcp.routers.{{ app_name }}-fastcgi.tls=false
      - traefik.tcp.routers.{{ app_name }}-fastcgi.entrypoints=urbackup-fastcgi
      - traefik.tcp.routers.{{ app_name }}-fastcgi.service={{ app_name }}-svc-tcp-fastcgi
      - traefik.tcp.services.{{ app_name }}-svc-tcp-fastcgi.loadbalancer.server.port=55413
      
      - traefik.tcp.routers.{{ app_name }}-internet-clients.rule=HostSNI(`*`)
      - traefik.tcp.routers.{{ app_name }}-internet-clients.tls=false
      - traefik.tcp.routers.{{ app_name }}-internet-clients.entrypoints=urbackup-internet-clients
      - traefik.tcp.routers.{{ app_name }}-internet-clients.service={{ app_name }}-svc-tcp-internet-clients
      - traefik.tcp.services.{{ app_name }}-svc-tcp-internet-clients.loadbalancer.server.port=55415

      - traefik.udp.routers.{{ app_name }}-broadcast.entrypoints=urbackup-broadcast
      - traefik.udp.routers.{{ app_name }}-broadcast.service={{ app_name }}-svc-udp-broadcast
      - traefik.udp.services.{{ app_name }}-svc-udp-broadcast.loadbalancer.server.port=35623
