---
version: "3.8"

networks:
  {{ network_name }}:
    external: true

services:
  {{ app_name }}:
    image: {{ artist-resolver_image }}
    container_name: {{ app_name }}
    restart: unless-stopped
    environment:
      - TZ={{ docker_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ docker_settings_directory }}/{{ app_name }}:/config
    networks:
      - {{ network_name }}
    # ports:
    #   - 8125:80
    labels:
      - traefik.enable=true
      - traefik.docker.network={{ network_name }}
      - traefik.http.routers.{{ app_name }}.rule=Host(`{{ app_name }}.{{ domain }}`)
      - traefik.http.routers.{{ app_name }}.entrypoints={{ traefik_endpoint }}
      - traefik.http.services.{{ app_name }}.loadbalancer.server.port=80
      - net.unraid.docker.icon={{ icon_url }}
      - net.unraid.docker.webui=http://{{ app_name }}.{{ domain }}
