version: "2.1"

services:
  samba:
    image: dperson/samba:armhf
    container_name: samba
    environment:
      - USER={{ smb_credentials }}
      - PERMISSION=0700
      - USERID={{ smb_user_id }}
      - GROUPID={{ smb_group_id }}
    env_file:
      - samba.env
    volumes:
      - /home:/home
    ports:
      - 139:139
      - 445:445
    restart: unless-stopped