---
version: "3.8"

networks:
  {{ network_name }}:
    external: true

services:
  {{ app_name }}:
    image: binhex/arch-qbittorrentvpn:4.5.1-1-01
    container_name: {{ app_name }}
    restart: unless-stopped
    environment:
      - PUID={{ docker_puid }}
      - PGID={{ docker_pgid }}
      - TZ={{ docker_timezone }}
      - VPN_ENABLED=${VPN_ENABLED}
      - VPN_USER=${VPN_USERNAME}
      - VPN_PASS=${VPN_PASSWORD}
      - VPN_PROV=${VPN_PROVIDER}
      - VPN_CLIENT=${VPN_CLIENT}
      - STRICT_PORT_FORWARD=${VPN_STRICT_PORT_FORWARD}
      - ENABLE_PRIVOXY=${VPN_ENABLE_PRIVOXY}
      - LAN_NETWORK=${SUBNET}
      - NAME_SERVER=${DNS_SERVERS}
      - VPN_INPUT_PORTS=${VPN_INPUT_PORTS}
      - VPN_OUTPUT_PORTS=${VPN_OUTPUT_PORTS}
      - WEBUI_PORT=8080
    volumes:
      - /etc/localtime:/etc/localtime:ro 
      - {{ docker_settings_directory }}/{{ app_name }}:/config
      - {{ docker_media_data_share }}/torrents:/data/torrents:rw
    networks:
      - {{ network_name }}
    ports:
      - 8080:8080
      - 8118:8118
      - 6881:6881
      - 6881:6881/udp
    privileged: true
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      - traefik.enable=true
      - traefik.docker.network={{ network_name }}
      - traefik.http.routers.{{ app_name }}.rule=Host(`{{ app_name }}.{{ domain }}`)
      - traefik.http.routers.{{ app_name }}.entrypoints={{ traefik_endpoint }}
      - traefik.http.services.{{ app_name }}.loadbalancer.server.port=8080
      - net.unraid.docker.icon={{ icon_url }}
      - net.unraid.docker.webui=http://{{ app_name }}.{{ domain }}
