---
version: "3.8"

networks:
  {{ network_name }}:
    external: true

services:
  {{ app_name }}:
    image: lscr.io/linuxserver/sabnzbd:amd64-3.7.2
    container_name: {{ app_name }}
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Vienna
    volumes:
      - ${SETTINGS_DIRECTORY}/{{ app_name }}:/config
      - ${DATA_DIRECTORY}/usenet:/data/usenet:rw
    networks:
      - ${TRAEFIK_NETWORK}
    ports:
      - 8089:8080
    labels:
      - traefik.enable=true
      - traefik.docker.network=${TRAEFIK_NETWORK}
      - traefik.http.routers.{{ app_name }}.rule=Host(`{{ app_name }}.${TRAEFIK_DOMAIN}`)
      - traefik.http.routers.{{ app_name }}.entrypoints=${TRAEFIK_ENDPOINT}
      - traefik.http.services.{{ app_name }}.loadbalancer.server.port=8080
      - net.unraid.docker.icon=https://sabnzbd.org/images/icons/apple-touch-icon-120x120-precomposed.png
      - net.unraid.docker.webui=http://{{ app_name }}.{{ domain }}